.pointer {
    cursor: pointer;
}

span.tracker-total {
    vertical-align: top;
}

input.note-input {
    width: 100%;
    border: 1px solid black;
}

div.user-menu {
    position: absolute;
    z-index: 50;
}

img.menu-arrow {
    margin: 5px;
}

div.replacement {
    font-style: italic;
}

.color-town {
    color: Blue;
}

.color-scum {
    color: Red;
}

.color-neutral {
    color: DarkSlateGrey;
}

.color-cult {
    color: Purple;
}

.color-other {
    color: Magenta;
}

.color-sk {
    color: DarkGreen;
}

.dead {
    text-decoration: line-through;
}
